@model IEnumerable<WebApplication1.Models.Cliente>

@{
    ViewData["Title"] = "Datos de clientes";
}

<h2>Index</h2>

<p>
    @*<a asp-action="Create">Registros</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.necesidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoDeEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invitados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detalles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.necesidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoDeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invitados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detalles)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
